<!DOCTYPE html>
<html>
    <head>
        <title>{{title}}</title>
        <link rel="stylesheet" href="/style/index.css">
    </head>
    <body>
        {{>header}}
        <h2>{{title}}</h2>
        <h4>{{message}}</h4>
        {{>footer}}
    </body>
</html>